
@media (max-width: 1440px) {
  .aboutus__list {
    display: block;
  }

  .aboutus__item-big {
    min-height: 640px;
    margin-bottom: 33px;
    max-width: 100%;
  }

  .aboutus__list-content {
    max-width: 100%;
  }

  .descr {
    max-width: 100%;
  }

  .questions__list {
    --offsets: 1;
  }

  .footer__right-descr {
    display: none;
  }

  .footer__left {
    margin-right: auto;
  }

}


@media (max-width: 1200px) {

  .header__logo {
    margin-right: 0;
  }

  .header__nav {
    margin-right: 0;
  }

  .nav__list {
    gap: 60px;
  }

 .hero__content  {
    padding: 160px 77px;
    min-height: 668px;
    border-radius: 24px;
  }

 .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
  }

   .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  /* aboutUs */
  .aboutus__descr {
    margin-bottom: 55px;
  }

   .aboutus__item {
     padding-left: 317px;
  }

  .aboutus__title {
    margin: 0;
    margin-bottom: 21px;
  }

  .stages__list-descr {
    margin-bottom: 23px;
  }

  .stages {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  /* quotes */

  .questions__item {
    padding: 35px 65px 35px 40px;
  }

   /* footer */

  .footer__center {
    max-width: 541px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer__container {
    gap: 0;
  }

  .form__btn {
    padding: 19px 33px;
  }

}


@media (max-width: 992px) {
  .nav__list {
    gap: 40px;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 700;
  }

  /* hero */
  .hero__content  {
    min-height: 662px;
    padding: 160px 40px 160px 40px;
  }

  .hero__title {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
  }

  .hero__descr {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  /* aboutUs */
  .aboutus__descr {
    margin-bottom: 50px;
  }

  .aboutus__item-big {
    min-height: 650px;
    border-radius: 24px;
  }

  .aboutus__item-big-content {
    padding: 34px 47px 34px 40px;
    column-gap: var(--gap);
    border-radius: 24px;
  }

  .aboutus__item-big-descr {
    max-width: 82%;
  }

  .aboutus__img {
    max-width: 20%;
  }

  .aboutus__list-content {
    min-height: 100%;
  }

  .aboutus__item {
    position: relative;
    flex: 1;
    flex-direction: column;
    padding: 35px 46px 35px 170px;
    height: 100px;
  }

  .aboutus__item-cube-img {
    background-size: 10%;
  }

  .aboutus__item-gear-img {
    background-size: 10%;
  }

/* .stages */

  .stages {
      padding-bottom: 79px;
    }

  .stages__list {
    --offsets: 0;
  }

  .stages__list{
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .stages__list::after {
    width: 100%;
    height: 284px;
    border-radius: 24px;
    margin-bottom: 10px;
  }

  .stages__title {
    margin-bottom: 29px;
  }

  /* quotes */

  .questions {
    padding-top: 0;
  }

  .questions__item {
    padding: 35px 65px 35px 40px;
  }

  .questions__list {
    --offsets: 0;
  }

      /* footer */
  .footer__center {
    margin-bottom: 50px;
  }

  .footer__center {
    max-width: 541px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer__container {
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .footer__list {
    display: none;
  }
}

/* Этот медиа запрос только для шапки */
@media (max-width: 790px) {
 .container {
    padding: 0 15px;
  }
/* некоторые св-ва делаем раньше чтобы верстка не сломалась */
  .nav-list {
    gap: 24px;
  }
}


@media (max-width: 590px) {

  .header {
    padding-bottom: 40px;
  }

  .header__nav {
    padding-top: 20px;
    width: 100%;
    order: 3;
    overflow-x: scroll;
  }

  .section-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
  }

  /* header */

  .nav {
    margin-right: 0;
    padding-bottom: 10px;
    width: 105%;
    max-width: 399px;
    order: 3;
  }

  /* hero */

  .hero {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .hero__content {
    padding: 60px 21px 0 22px;
    text-align: center;
    border-radius: 16px;
    min-height: 308px;
  }

  .hero__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 24.38px;
    margin-bottom: 6px;

  }

  .hero__descr {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    margin-bottom: 34px;
  }

  .hero__btn {
    align-self: center;
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 23px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
  }

  /* aboutUs */
  .title {
    font-weight: 400;
    font-size: 24px;
    color: var(--black-color);
  }

  .aboutus__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .aboutus__list {
    gap: 0;
  }

  .aboutus__item-big {
    min-height: 340px;
    /* border-radius: 24px; */
  }

  .aboutus__item {
    border: none;
    padding: 101px 0px 0px 0px;
  }

  .aboutus__item-cube-img {
    background-size: 114px;
    background-position: left top;
  }

  .aboutus__item-gear-img {
    background-size: 114px;
    background-position: left top;
  }

  .aboutus__item-title {
    margin-top: 12px;
    /* margin-bottom: 60px; */
    margin-left: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
  }

  .descr {
    margin-left: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  .stages {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .stages__list-descr {
    line-height: 28px;
    font-size: 18px;
  }

  .stages__list::after {
    border-radius: 16px;
  }

  .questions {
    padding-bottom: 60px;
  }

  .questions__item {
    border: none;
    padding: 0;
  }

  .questions__item-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
  }

  .questions__title {
    font-size: 24px;
    font-weight: 400;
  }

  .questions__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
  }

    /* footer */

  .footer__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
  }

  .footer {
    margin: 0 auto;
    padding: 32px 0 50px 0;
  }

  .footer__logo {
    margin-bottom: 5px;
  }

  .footer__center {
    min-width: unset;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 25px;
    /* max-width: 290px; */
    gap: 20px;
    border-bottom: 3px solid #414141;
  }

  .form__input {
    padding-top: 0px;
    padding-left: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    /* border-radius: 8px; */
  }

  .form__textarea-mail {
    padding-top: 13px;
    margin-bottom: 0;
  }

  .form__wrapper  {
    flex-direction: column;
  }

  .form__btn {
    margin-right: 0;
    align-self: center;
    /* margin-left: 22%; */
    margin-bottom: 12px;
    padding: 12px 19px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
  }

  .footer__left {
    min-width: unset;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .footer__logo {
    align-self: center;
  }

  .footer__logo-img {
    align-self: center;
    max-width: 60%;
    margin-left: 34%;
    padding-top: 6%;
  }

  .social {
    gap: 0px;
  }

  .social__link-img {
    max-width: 70%;
  }

  .footer__left  {
    align-items: center;
    justify-content: space-between;
  }


  @media (max-width: 370px) {


  .container {

    padding: 0 15px;
  }

  .aboutus__img {
    position: relative;
    top: 15px;
    left: 0px;
  }

}

@media (max-width: 320px) {

  .container {

    padding: 0 15px;
  }


  .aboutus__img {
    position: relative;
    top: 25px;
    left: 3px;
    min-width: 21%;
}

  .stages__list::after {
    height: 160px;
    border-radius: 16px;
  }
}

}
