/* Fonts */
/* Шрифты всегда объявляем первыми, так как браузер в первую очередь
должен видеть их чтобы подключить. Подключение идет сверху вниз */

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Muller";
  font-display: swap;
  src:
  local("Muller"),
  url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Muller";
  font-display: swap;
  src:
  local("Muller"),
  url("../fonts/MullerMedium.woff2") format("woff2"),
  url("../fonts/MullerMedium.woff") format("woff");
}


@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Muller";
  font-display: swap;
  src:
  local("Muller"),
  url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
}


/* Main Properties Общие настройки страницы*/


/* для простоты работы с
  элементами все паддинги будут браться за счет самого размера элемента не будет расти
*/
html {
  box-sizing: border-box;  /*будет проще работать с эл ми с его помощью */
}

*,
*::before,
*::after {
  box-sizing: inherit; /*и все элементы и псевдоэлементы  инхерит такие же как и у родителей как у предшествующего тега ШТМЛ*/
}

/* тут текст декорейшн для ссылок */
a {
  color: inherit; /* инхерит чтобы не мешались цвета*/
  text-decoration: none;
}

/* стили для картинок */
img {
  max-width: 100%; /* сбросили все стили списков отступы и т д чтобы изображения не выходили
  за границы контейнеров в котором они находятся  */
}

/* Смотрим как работают шрифтыв дев тулс в источниках-sourses */
body {
  min-width: 1200px;
  font-family: "Muller", Arial, sans-serif; /*прописываем муллер в теге боди и для безопасности подключим Ариал*/
}



/* glob */

.body-index {
  background-color: #F1F1F1;
}

/*Так как главный заголовок был не найден, решено было спрятать мнимый заголовок ЛАГУНА h1*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*специальный класс для списков будет сбрасывать все атрибуты списков
визуальные  отступы паддинг стайл. Добавлен класс и теперь список полностью плоский для легкой стилизации*/
/*Сбросит стили списка по умолчанию задали ul */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  /* лист стайл нон для того чтобы списки не выделялись визуально */
}

/* Класс который будет сбрасывать стили кнопок задали button */
.btn-reset {
  padding: 0; /*паддинг будем отдельно задавать*/
  border: none; /*бордер не понадобится*/
  background-color: transparent; /* будем по месту задавать*/
  cursor: pointer; /*курсор всегда такой чтобы пользователь понимал что элемент тактильный и по нему можно кликнуть*/
}


/* многие списки будем в качестве контейнера использовать по этому делаем
доп класс флекс кот выз дисплей флекс  */

/*контейнер смотреть на макете */
.container {
  width: 1200px;
  padding: 0 15px; /*паддинг 0 по вертикали  и 15 по горизонтали*/
  margin: 0 auto; /*0 авто для того чтоб центрировался по горизонтали */
}



/*У всех заголовков одинаковый класс отступ от заголовков 40 пкс...  для тегов h1 h2 и т д*/
.offers-heading {
  margin: 0;
  margin-bottom: 20px;
  text-indent: 40px; /*отступ слева */
  font-family: "Muller";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #333333;
}

/*Для всех секций создаем общий класс
все отступы в макете идут по 70 пикселей
то есть делим на пополам т о решается проблема безопасности
контента сверху и снизу чтобы он  не
прилипал внизу и вверху, плюс проблема с отступами
*/

.section-offset {
  padding-top: 35px;
  padding-bottom: 35px;
}


/*Header*/

.header {
  padding-top: 30px;
  padding-bottom: 35px;

}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
/*Работаем с внутренними отступами
решит проблему отступов и обезопасит контент
*/

.header-top {
  display: flex;
  margin-bottom: 30px; /*устанавливает внешний отступ внизу элемента margin устанавливает величину отступа от каждого края элемента.*/
  align-items: center; /*выравнивание элементов по центру*/
}

.header-top-left {    /*Header тег для шапки*/
  display: flex;
  align-items: center;
  margin-right: auto;  /*Стараться не делать влево и вверх, т к они*/
}

.header-tel-cont {
  display: flex;
  flex-wrap: wrap;
  max-width: 744px;
}


.header-tel {
  margin-right: auto;
  text-align: left;
  /* добавляем стили текста ниже*/
  font-family: "Muller";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;

}

/* телефон прижимается к краю */
.header-return {
  background-position: left top;
  line-height: 16px;
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #CC9933;
  /* margin-right: auto; не нужно */
   /* margin-left: auto; не нужно
  padding-left: 28px;   убрать их не нужны*/
   /* max-width: 695px; не нужно */
}

.arrow-keyboard {
  background-position: left center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-image: url(../pictures/keyboard_tab.svg);
}



.header-logo {
  margin-right: 30px; /*Стараться не делать влево и вверх, т к они*/
}


/*Nav */

.nav-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; все что ниже убераем*/
  /* min-height: 50px;   */
  /* max-width: 745px; */
  /* padding-right: 55px;  */
  /*border-right: solid 1px #E1E1E1;*/ /*В СЛЕДУЮЩЕЙ ГЛАВЕ ВКЛЮЧИТЬ Задан цвет разделяющему элементу*/
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #666666;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 420px;
  margin-bottom: -10px; убрали */
  /* padding-left: 20px;  убрали */
}

/* Botton кнопки стили*/

/* Класс который будет сбрасывать стили кнопок  */
.btn-reset {
  padding: 0; /*паддинг будем отдельно задавать*/
  border: none; /*бордер не понадобится*/
  background-color: transparent; /* будем по месту задавать*/
  cursor: pointer; /*курсор всегда такой чтобы пользователь понимал что элемент тактильный и по нему можно кликнуть*/
}

.btn-style{
  padding: 13px 20px;
  border-radius: 10px;
  background-color: inherit;
  border: solid 1px #CC9933;
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color:#CC9933;

}



/* добавили маргины всем кроме последн эл-та */
.btn-style:not(:last-child) {
  margin-right: 30px;

}

.actions-button {
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: inherit;
}


/* SECTION 1*/
/* Offers */
/*offers-cards класс родитель ставим выше всех классов*/

.offers-cards {
  display: flex;
  justify-content: space-between;
}

 /* Классы ставить по порядку один за другим как в штмл файле*/
.offers-thumbs {
  margin-right: 24px;
  max-width: 573px;
  /* чтобы не схлопывались 100% */
  width: 100%;
}

/* оферы это родители поведение нижних классов будет зави */
.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* прижали к краю  */
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 573px;
  width: 100%;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
}

/* добавили всем кроме последнего */
.offer:not(:last-child) {
  margin-bottom: 24px;
}

.offer-maldives {
  background-image: url(../pictures/maldives.jpg);
}

.offer-crete_hote_tours {
  background-image: url(../pictures/crete.jpg);
}

.offer-rooms_luxury {
  background-image: url(../pictures/special-offer.jpg);
}

.offers-card-heading {
  /* у заголовков отступы по умолчанию всегда и мы их сбрасываем */
  margin: 0 0 15px 0;
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

.luxury-heading {
  font-size: 60px;
}

/* данный стиль нужен только заголовкам h2 */
.offers-heading {
  margin: 0;
  margin-bottom: 24px;
}

.offers-card-price {
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color:  #FFFFFF;
  opacity: 0.8;
}

.offers-card-price-big {
  font-size: 30px;
}

.link {
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #F0BF5F;
}

.arrow::after {
  position: relative;
  top: 1px;
  display: inline-block;
  content: "";
  width: 11px;
  height: 11px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
}


/* SECTION 2*/
/* About */

.about-text {
  margin: 0;
  max-width: 888px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #000;
}


/* SECTION 3*/
/* Services */

.services-heading {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-card {
  max-width: 573px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-height: 330px;
  padding: 190px 126px 10px 45px;
  border-radius: 15px;
  background-color: white;
  background-repeat: no-repeat; /* но репит прописали в основном классе*/

  /*margin: auto;
   min-height: 0;
  padding: 0px 0px 0px 0px;  убрали не нужно*/
}

/* сбросили отступы у двух последних элементов */
.services-card:nth-child(2n){
  margin-right: 0;
}

/* Получаем отступы у всех кроме последних элементов*/
.services-card:nth-last-child(-n + 2){
  margin-bottom: 0;
}

.service-servicing {
  background-image: url(../pictures/exclusive_offer.jpg);
}

.service-rent {
  background-image: url(../pictures/rent.jpg);
}

.service-spa {
  background-image: url(../pictures/sauna.jpg);
}

.service-parking {
  background-image: url(../pictures/cars.jpg);
}


/* сбросили маргин у заголовков */
.service-content {
  margin: 0;
}

.servises-heading-link {
  font-family: Muller;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #CC9933;

}

/* сбросили маргин у параграфа */
.service-card-text {
  margin: 0;
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #000000;
}

/* SECTION 4*/
/* Advantages */

.advantages {
  padding-top: 35px;
  padding-bottom: 12px;
}

.advantage {
  margin: 0;
  font-family: "Muller";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #000000;
}

.advantages-heading {
  margin-bottom: 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

/* задали маргины */
.advantages-card {
  max-width: 275px;
  margin-bottom: 22px;
  margin-right: 22px;
  padding: 116px 42px 10px 45px;
  min-height: 275px;
  border-radius: 15px;
  background-color: white;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.advantages-card:nth-child(4n){
margin-right: 0;
}

.advantages-card:nth-last-child(-n+4){
  margin-bottom: 0;
}

.back-color {
  background-color: white;
}


.advantages-bath {
  background-image: url(../pictures/bathtub.svg);
}

.advantages-hanger {
  background-image: url(../pictures/hanger.svg);
}

.advantages-heating {
 background-image: url(../pictures/heating.svg);
}

.advantages-key {
  background-image: url(../pictures/hotel-key.svg);
}

.advantages-parking {
  background-image: url(../pictures/parking.svg);
}

.advantages-reception {
 background-image: url(../pictures/reception.svg);
}

.advantages-security-box {
  background-image: url(../pictures/security-box.svg);
}

.advantages-swimming-pool {
  background-image: url(../pictures/swimming-pool.svg);
}

/* SECTION 5*/
/* Placement */

.placement-heading {
  margin-bottom: 20px;
}

.placement-list {
  display: flex;
  flex-wrap: wrap;
}

.placement-card {
  display: flex;
  flex-basis: 374px; /* делит разметку, удобно использовать чтобы разделить */
  margin-bottom: 24px;
  margin-right: 24px;
  width: 32%;
  min-height: 440px;
  margin-bottom: 23px;
  border-radius: 15px;
  background-color: white;
}


/* селектор псевдокласса :nth-child() с расчётом количества элементов в ряду убрали маргин */
.placement-card:nth-child(3n) {
  margin-right: 0;
}

/* сбросили у последних элементов марджин */
.placement-card:nth-last-child(-n+3) {
  margin-bottom: 0;
}


/* 27 нужно снизу но закрываем по кругу это для безопасности контента */
.placement-card-more{
  display: flex;
  justify-content:center;
  align-items: flex-end;
  padding: 27px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../pictures/more-variants.jpg);
}


/* span строчный элемент по этому делаем флекс так как блок схлопнется  */
.placement-wrapper {
  padding: 32px 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* чтобы ссылка не работала на пустом месте */
}

.hotel-img {
  display: inline-block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}


.hotele-description-flex {
  display: flex;
  margin-bottom: 16px;
}


.text-gray {
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #999999
}


.hotel-name {
  margin: 0;
  margin-bottom: 16px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #000;
}

.hotel-descripction {
  margin-bottom: 20px;
}

.hotel-price {
  font-family: Muller;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

.per-night {
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #000000;
}

.hotel-rooms {
  padding: 13px 20px;
  border-radius: 15px;
  background-color: inherit;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
}

.placement-more-link {
  font-family: "Muller";
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #FFFFFF;
}




/* Хочу тур*/

/*

.journey {

}

form {

}

.want-journey {

}

.div-select-city {

}

label {

}


select {

}

.div-select-country {

}

.select-country {

}


.div-date {


}


.div-number-day {

}

.div-number-people {

}


.input-number-date {

}


.input-number {

}

.div-btn-form {

}

.btn-form {

}

*/



/* fieldset {

}


input, select {

}

hr {

}

*/


/* Контакты*/

/* .feedback {

} */


/* .container-last {
}

.contacts {

}

.contacts-fon {

}

.list-contacts {

}

.item-contacts {

}

.item-contacts:not(:first-child) {

}

.item-contacts:last-child {

}

.bold-item {


}

.contacts-number:focus, .contacts-email:focus, .footer-link:focus {


}

.contacts-number:active,.contacts-email:active,.footer-link:active {

}

.contacts-number, .contacts-email, .footer-link  {

}

*/


/* .data-description {

}

.data-description:not(:last-child) {

}


.footer-link:hover {

}


.contacts-number:hover, .contacts-email:hover {

}

.btn-contacts {

}

*/



/* Footer*/

/* footer {


}

.column-left {


}

.footer-paragraph {

}

.footer-social {

}

.link-social {

}

.link-social:not(:last-child) {

}

.footer-img {

}

.link-social:hover path{

}
.link-social:focus path{

}
.link-social:active path{

}


.column-right {

}

.footer-paragraph-right {

}

.footer-tel {

}

.footer-telephone {

}


*/
