@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
  url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'),
  url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
  url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'),
  url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2');
}

/* default */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}

/* glob */

:root {
  --white-color: #FFF;
  --blue-color: #3F2AFF;
  --grey-dark: #212133;
  --grey-middle: #666666;
  --grey-light: #85859B;
  --grey-pastel: #EDF0F9;
  --secondary-color: #2F2C45;
}

.body-index {
  background-color: var(--white-color);
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}




/* header */

.header {
  padding: 30px 0;
  background-color: var(--blue-color);
}

.nav__list {
  display: flex;
  column-gap: 56px;
}

.nav__link {
  font-size: 18px;
  color: var(--white-color);
}


/* hero */

.hero {
  padding: 14px 0;
  background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
}


.hero__section {
  background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  color: var(--white-color);
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: var(--white-color);
}

.hero__descr {
  margin: 0;
  margin-bottom: 70px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--white-color);
}

/* Работаем с флексами а не с блоками - блоки это в прошлом
класс флексы современные */
.hero__btn {
  padding: 24px 75px;
  background: var(--blue-color);
  border-radius: 20px;
  color:  var(--white-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

/* advantages */

.advantages__top-cont {
  align-items: center;
  margin-bottom: 22px;
}

.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages__content {
  padding-left: 30px;
  align-items: flex-start;
  margin-bottom: 22px;
}

.advantages__info-cont  {
  align-self: flex-start;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;
  max-width: 380px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.advantages__descr-main {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--grey-middle);
}

.advantages__descr {
  margin: 0;
  min-height: 80px;
  max-width: 300px;
  padding-left: 110px;
  color: var(--grey-middle);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}


.align {
  align-items: center;
}

.advantages__card {
  align-items: center;
  display: flex;
  gap: 30px;
}

.advantages__card--image-eay {
  background-image: url('../img/advantages-card1.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.advantages__card--image-finger {
background-image: url('../img/advantages-card2.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.advantages__card--image-megaphone {
  background-image: url('../img/adventages-card-3.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.hero__image {
  display: flex; /* Включаем Flexbox */
  align-items: center; /* Вертикальное выравнивание */
  justify-content: center; /* Горизонтальное выравнивание */
  text-align: center; /* Дополнительно, если текст или другие элементы есть */
}


/* teachers */

.teachers {
  background-color: var(--grey-dark);
}

.teachers__caption{
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: var(--white-color);
  font-family: Roboto;
}

.teachers__offset {
  margin-bottom: 30px;
}

.teachers__card {
  color: var(--white-color);
  margin-bottom: 23px;
}

.teachers__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.teachers__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--grey-light);
}



.teachers__img {
  width: 100%;
  max-height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

/* Courses */
.course {
  padding-top: 80px;
  padding-bottom: 50px;
}

.course__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.course__title-offers {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.course__indents {
  background-color: var(--grey-pastel);
  border-radius: 20px;
}

.course__descr {
  margin-bottom: auto;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--grey-middle);
}

.course__button {
  display: inline-flex;
  padding: 20px 56px;
  background-color: var(--blue-color);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--white-color);
  text-align: center;
  margin-top: auto;
}

.course__img {
  width: 100%;
  max-height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.course__content {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 300px;
  height: 100%;
  padding: 30px 30px;
}

/* Footer */

.footer__contact {
  display: flex;
  justify-content: space-between; /* Размещает элементы на краях */
  align-items: center; /* Выравнивает элементы по вертикали */
}

.footer__contact-link {
  margin: 0 auto;
}

.footer__contact-list {
  padding: 20px 0; /* Отступ сверху и снизу */
  margin: 0;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  min-height: 80px;
  background-color: var(--secondary-color);
}

.footer__contact-img {
  width: 24px;
  height: 24px;
}

.footer__copywrite {
  justify-content: space-between;
  margin: 0;
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.171em;
}

.reg {
  color: var(--blue-color);
  vertical-align: middle;
   /*vertical-align: super; /* Размещаем ® как верхний индекс */
}
