
/*Общие пояснения для разметки к проделанной работе по верстке седьмому блоку.

-Тексты не подключены, т к макет указанный  в главе 7 этого не предусматривает(но добавлены в папку для дальнейшей работы)
-SVG были убраны из html документа и БУДУТ перенесены в стили(так как верно для верстки)
-Были подключены изображения из папки img для лучшего ориентирования в верcтке,
но потом папка img , была удалена, чтобы не перегружать картинками корневую папку для
отправки на GitLab(стили с картинками остались в сss файле)
-Некоторые стили были добавлены допполнительно к этой главе,
хотя они предназначены для следующей главы(
так как было тяжело делать верстку и требовалось больше
визуализации)
- Было решено добавить flex в каждый стиль по отдельности а не делать общим стилем
*/


/* Main Properties Общие настройки страницы*/


/* для простоты работы с
  элементами все паддинги будут браться за счет самого размера элемента не будет расти
*/
html {
  box-sizing: border-box;  /*будет проще работать с эл ми с его помощью */
}

*,
*::before,
*::after {
  box-sizing: inherit; /*и все элементы и псевдоэлементы  инхерит такие же как и у родителей как у предшествующего тега ШТМЛ*/
}

/* тут текст декорейшн для ссылок */
a {
  color: inherit; /* инхерит чтобы не мешались цвета*/
  text-decoration: none;
}

/* стили для картинок */
img {
  max-width: 100%; /* сбросили все стили списков отступы и т д чтобы изображения не выходили
  за границы контейнеров в котором они находятся  */
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif; /*в будущем подкл. нужный  шрифт*/
}



/* glob */


/*Так как главный заголовок был не найден, решено было спрятать мнимый заголовок ЛАГУНА h1*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*специальный класс для списков будет сбрасывать все атрибуты списков
визуальные  отступы паддинг стайл. Добавлен класс и теперь список полностью плоский для легкой стилизации*/
/*Сбросит стили списка по умолчанию задали ul */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  /* лист стайл нон для того чтобы списки не выделялись визуально */
}

/* Класс который будет сбрасывать стили кнопок задали button */
.btn-reset {
padding: 0; /*паддинг будем отдельно задавать*/
border: none; /*бордер не понадобится*/
background-color: transparent; /* будем по месту задавать*/
cursor: pointer; /*курсор всегда такой чтобы пользователь понимал что элемент тактильный и по нему можно кликнуть*/
}


/* многие списки будем в качестве контейнера использовать по этому делаем
доп класс флекс кот выз дисплей флекс  */

/*контейнер смотреть на макете */
.container {
  width: 1200px;
  padding: 0 15px; /*паддинг 0 по вертикали  и 15 по горизонтали*/
  margin: 0 auto; /*0 авто для того чтоб центрировался по горизонтали */
}



/*отступ от заголовков 40 пкс...  для тегов h1 h2 и т д*/
.offers-heading {
  margin-bottom: 20px;
}



/*Header*/

.header {    /*Header тег для шапки*/
  padding-top: 30px;
}

.header-top {
  display: flex;
  margin-bottom: 30px; /*устанавливает внешний отступ внизу элемента margin устанавливает величину отступа от каждого края элемента.*/
  align-items: center; /*выравнивание элементов по центру*/
}

.header-top-left {    /*Header тег для шапки*/
  display: flex;
  align-items: center;
}

.header-tel-cont {
  display: flex;
  flex-wrap: wrap;
  max-width: 744px;
}

.header-tel {
  margin-right: 10px;
}

.header-return {
  margin-left: auto;
  padding-left: 28px;
  max-width: 695px;
  background-position: left top;
  line-height: 16px;
}


.header-logo {
  margin-right: 40px;
}


/*Nav */


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: #FFFFFF;*/ /*В СЛЕДУЮЩЕЙ ГЛАВЕ ВКЛЮЧИТЬ  Задан цвет меню*/
  border-radius: 15px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50px;
  max-width: 745px;
  padding-right: 55px;
  /*border-right: solid 1px #E1E1E1;*/ /*В СЛЕДУЮЩЕЙ ГЛАВЕ ВКЛЮЧИТЬ Задан цвет разделяющему элементу*/
  ;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  margin-bottom: -10px;
  padding-left: 20px;
}

/* Botton кнопки стили*/

/* Класс который будет сбрасывать стили кнопок  */
.btn-reset {
padding: 0; /*паддинг будем отдельно задавать*/
border: none; /*бордер не понадобится*/
background-color: transparent; /* будем по месту задавать*/
cursor: pointer; /*курсор всегда такой чтобы пользователь понимал что элемент тактильный и по нему можно кликнуть*/
}

.actions-button {
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: inherit;
}



/* SECTION 1*/
/* Offers */

.offers-heading {
  margin-bottom: 20px;
}

.offers-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.offers-thumbs {
  width: 50%;
}


/* SECTION 2*/
/* About */

/* Стили будут добавлены позже, для текущей верстки
по макету, они нецелесообразны
*/




/* SECTION 3*/
/* Services */

.services-heading {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-card {
  min-height: 0;
  max-width: 573px;
  padding: 0px 0px 0px 0px;
  margin: auto;
}

.services-card:nth-child(odd) {
  margin-right: 23px;
}



/* SECTION 4*/
/* Advantages */

.advantages-heading {
  margin-bottom: 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card {
  width: 275px;
}




/* SECTION 5*/
/* Placement */

.placement-heading {
  margin-bottom: 30px;
}

.placement-list {
  display: flex;
  flex-wrap: wrap;
}

.placement-card {
  width: 32%;
  margin-bottom: 23px;
}
